<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bienvenido a Moodvent</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<article>
  <h1>Acceso al sistema</h1>
  <fieldset>
    <% if (!session || !session.login) { %>
    <legend>Usuario y Contraseña</legend>
    <form action="/usuarios/login" method="POST">
      <div>
        <label for="username">Usuario:</label>
        <input
          type="text"
          id="username"
          name="username"
          value="<%= datos.username || '' %>"
        />
        <% if (errores.username) { %>
        <span style="color: red"><%= errores.username.msg %></span>
        <% } %>
      </div>

      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" />
        <% if (errores.password) { %>
        <span style="color: red"><%= errores.password.msg %></span>
        <% } %>
      </div>

      <% if (error) { %>
      <p style="color: red"><%= error %></p>
      <% } %>

      <button type="submit">Iniciar sesión</button>
    </form>

    <% } else { %>
    <script>
      window.location.href =
        "<%= session.rol === 'admin' ? '/contenido/admin' : '/contenido/normal' %>";
    </script>
    <% } %>
  </fieldset>
  <p><a href="/">Volver</a></p>
</article>
