<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bienvenido a Moodvent</title>
  <link rel="stylesheet" href="/css/perfil.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet"
  />
</head>

<section class="comunidad-section">
  <div class="comunidad-content">
    <div class="comunidad-texto">
      <div class="info-perfil">
        <h1>Perfil de <%= usuario.nombre %> <%= usuario.apellido %></h1>
        <p><strong>Usuario:</strong> <%= usuario.username %></p>
        <p><strong>Email:</strong> <%= usuario.email %></p>
        <p><strong>Edad:</strong> <%= usuario.edad %></p>
        <p><strong>Rol:</strong> <%= usuario.role %></p>
      </div>
    </div>

    <div class="comunidad-imagen">
      <img src="/img/profile.png" alt="connect-platform" />
    </div>
  </div>
</section>
<div class="container-events-grid">
  <h2 class="events-title">Próximos eventos</h2>
  <div class="btn-container">
    <a href="/eventos/crearEventos" class="btn-eventos">Crear Eventos</a>
    <a href="/eventos/visualizarEventos" class="btn-eventos">Ver eventos</a>
  </div>
  <h2 class="events-title">Eventos a los que asistirás</h2>

  <% if (eventosAsistidos.length === 0) { %>
  <p>No estás registrado en ningún evento todavía.</p>
  <% } else { %>
  <div class="eventos">
    <% eventosAsistidos.forEach((evento) => { %>
    <div class="evento">
      <div class="evento-img">
        <img
        src="/img/icons/<%= evento.estadoAnimo.toLowerCase() %>.jpg"
        alt="<=% evento.estadoAnimo %>"
        class="icono-estado"
      />
      </div>
      <div class="evento-info">
        <h2><%= evento.nombre %></h2>
        <p><strong>Fecha:</strong> <%= evento.fecha %></p>
        <p><strong>Lugar:</strong> <%= evento.lugar %></p>
        <p><strong>Precio:</strong> $<%= evento.precio %></p>
        <p><strong>Estado de ánimo:</strong> <%= evento.estadoAnimo %></p>
        <p><strong>Temática:</strong> <%= evento.tematica || 'General' %></p>
        <form
          action="/eventos/cancelar-asistencia/<%= evento.id %>"
          method="POST"
        >
          <button type="submit" class="btn-evento cancelar">
            Cancelar asistencia
          </button>
        </form>
      </div>
    </div>
    <% }); %>
  </div>
  <% } %>

  <!-- Sección del historial del usuario-->
  <div class="Historial" >
    <h2> HISTORIAL </h2>
    <h3> ¡ Mira los resultados de tus tests anteriores!</h3>
    <!-- TODO -->
  </div>
</div>
