<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
<<<<<<< Updated upstream
    <% const mostrarLayoutCompleto = (contenido === "paginas/home" || contenido
    === "paginas/admin"); const ocultarTodo = (contenido === "paginas/login" ||
    contenido === "paginas/registro"); const ocultarNavbar = (contenido ===
    "paginas/crearEventos" || contenido === "paginas/modificarEvento"); const
    ocultarFooter = (contenido === "paginas/crearEventos" || contenido ===
    "paginas/modificarEvento"); %> <% if (!ocultarTodo && !ocultarNavbar) { %>
    <%- include('./partials/navbar.ejs') %> <% } %> <% if
    (mostrarLayoutCompleto) { %>
=======
    <% const mostrarLayoutCompleto = ( contenido === "paginas/home" || contenido
    === "paginas/admin" || contenido === "paginas/mood-test" || contenido ===
    "paginas/perfil" ); const ocultarTodo = ( contenido === "paginas/login" ||
    contenido === "paginas/registro" ); const ocultarNavbar = ( contenido ===
    "paginas/crearEventos" || contenido === "paginas/modificarEvento" ||
    contenido === "paginas/visualizarEventos" ); const ocultarFooter = (
    contenido === "paginas/crearEventos" || contenido ===
    "paginas/modificarEvento" || contenido === "paginas/visualizarEventos" ); %>
    <% if (!ocultarTodo && !ocultarNavbar) { %> <%-
    include('./partials/navbar.ejs') %> <% } %> <% if (mostrarLayoutCompleto) {
    %>
>>>>>>> Stashed changes
    <div id="contenedor">
      <% if (session && session.login) { %> <%-
      include('./partials/cabecera.ejs', { session }) %> <%-
      include('./partials/sidebarIzq.ejs') %> <% } %>

      <main>
        <article><%- include(contenido) %></article>

        <% if (getAndClearFlash && getAndClearFlash()) { %>
        <dialog open class="flash-dialog" id="flashModal">
          <p><%= getAndClearFlash() %></p>
          <form method="dialog">
            <button>OK</button>
          </form>
        </dialog>

        <script>
          setTimeout(() => {
            const dialog = document.getElementById("flashModal");
            if (dialog) dialog.close();
          }, 4000);
        </script>
        <% } %>
      </main>

      <%- include('./partials/sidebarDer.ejs') %>
    </div>
    <% } else { %>
    <main>
      <article><%- include(contenido) %></article>
    </main>
    <% } %> <% if (!ocultarTodo && !ocultarFooter) { %>
    <footer><%- include('./partials/pie.ejs') %></footer>
    <% } %>
  </body>
</html>
