<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/navbar.ejs') %>

    <div id="contenedor">
      <% if (session && session.login) { %> <%-
      include('./partials/cabecera.ejs', { session: locals.session }) %> <%-
      include('./partials/sidebarIzq.ejs') %> <% } %>

      <main>
        <article><%- include(contenido) %></article>

        <% if (getAndClearFlash && getAndClearFlash()) { %>
        <dialog open class="flash-dialog" id="flashModal">
          <p><%= getAndClearFlash() %></p>
          <form method="dialog">
            <button>OK</button>
          </form>
        </dialog>

        <script>
          setTimeout(() => {
            const dialog = document.getElementById("flashModal");
            if (dialog) dialog.close();
          }, 4000);
        </script>
        <% } %>
      </main>

      <%- include('./partials/sidebarDer.ejs') %> <%-
      include('./partials/pie.ejs') %>
    </div>

    <footer><%- include('./partials/pie.ejs') %></footer>
  </body>
</html>
