<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <% const mostrarLayoutCompleto = ( contenido === "paginas/home" || contenido
    === "paginas/admin" || contenido === "paginas/mood-test" ); const
    ocultarTodo = ( contenido === "paginas/login" || contenido ===
    "paginas/registro" ); const ocultarNavbar = ( contenido ===
    "paginas/crearEventos" || contenido === "paginas/modificarEvento" ||
    contenido === "paginas/visualizarEventos" ); const ocultarFooter = (
    contenido === "paginas/crearEventos" || contenido ===
    "paginas/modificarEvento" || contenido === "paginas/visualizarEventos" ); %>
    <% if (!ocultarTodo && !ocultarNavbar) { %> <%-
    include('./partials/navbar.ejs') %> <% } %> <% if (mostrarLayoutCompleto) {
    %>
    <main>
      <article><%- include(contenido) %></article>

      <% if (getAndClearFlash && getAndClearFlash()) { %>
      <dialog open class="flash-dialog" id="flashModal">
        <p><%= getAndClearFlash() %></p>
        <form method="dialog">
          <button>OK</button>
        </form>
      </dialog>

      <script>
        setTimeout(() => {
          const dialog = document.getElementById("flashModal");
          if (dialog) dialog.close();
        }, 4000);
      </script>
      <% } %>
    </main>
    <% } else { %>
    <main>
      <article><%- include(contenido) %></article>
    </main>
    <% } %> <% if (!ocultarTodo && !ocultarFooter) { %>
    <footer><%- include('./partials/pie.ejs') %></footer>
    <% } %>
  </body>
</html>
