<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>

  <body>
    <%- include('./partials/navbar.ejs') %>
    <div id="contenedor">
      <% if (session && session.login) { %> <%-
      include('./partials/cabecera.ejs', { session: locals.session }) %> <%-
      include('./partials/sidebarIzq.ejs') %> <% } %>

      <main>
        <article><%- include(contenido) %></article>
      </main>

      <%- include('./partials/sidebarDer.ejs') %> <%-
      include('./partials/pie.ejs') %>
    </div>
    <!-- Fin del contenedor -->
    <footer><%- include('./partials/pie.ejs') %></footer>
  </body>
</html>
